.footer {
    background-image: url(../assets/footer-bg.svg);
    background-size: cover;
    width: 100vw;
}

.rowLimitSize {
    width: 90%;
    margin: 0 auto;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.bottom {
    width: 70%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.bottom > a {
    text-transform: capitalize;
    text-decoration: none;
}

.bottom > a:hover {
    color: var(--third);
}

.leftPart {
    width: 100%;
}

.rightPart{
    padding-top: 15px;
}

.rightPart > p, .rightPart > h3 {
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
}

.files {
    width: 12vw;
    max-width: 100px;
    min-width: 50px;
    display: block;
    float: right;
    padding-top: 15px;
}

.contactWrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
}

.logo {
    width: 30px;
}

.contact {
    padding-left: 15px;
    line-height: 30px;
}

@media screen and (max-width: 700px) {
    .rightPart > p, .rightPart > h3 {
        font-size: 12px;
        line-height: 15px;
    }

    .bottom {
        width: 60%;
    }

    .bottom > a {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {

    .top {
        flex-direction: column-reverse;
        padding-top: 15px;
        padding-bottom: 35px;
    }

    .bottom {
        width: 100%;
    }

    .rightPart {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-top: 0;
    }

    .rightPart > p, .rightPart > h3 {
        text-align: left;
        line-height: 30px;
        padding-left: 15px;
    }
    
    .files {
        width: 30px;
        min-width: 30px;
        padding-top: 0;
    }
}

@media screen and (max-width: 600px) {

    .bottom {
        width: 100%;
    }

    .rightPart {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .leftPart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rightPart > p, .rightPart > h3 {
        padding-left: 0;
        padding-top: 5px;
        text-align: center;
        line-height: 18px;
    }

    .contact {
        padding-left: 0;
        line-height: 18px;
        padding-top: 5px;
        text-align: center;
    }
    
    .files {
        float: unset;
    }
}